[submodule "hw"]
	path = hw
	url = https://github.com/Digilent/Arty-Z7-HW
[submodule "sw"]
	path = sw
	url = https://github.com/Digilent/Arty-Z7-SW
[submodule "os"]
	path = os
	url = https://github.com/Digilent/Arty-Z7-OS
